body {
  font-family: 'Vollkorn', serif;
}

/*masthead styles*/

.masthead {
  margin-top:3%;
  background-color: #000060;
  height: 180px;
}

/*featured gallery styles*/

.featured {
  height:auto;
  margin-top: 2%;
}

.featured-gallery {
  height:auto;
}

.page-title {
  text-align:center;
  font-size: 3em;
  color: #000029;
  font-weight:700;
  margin-top:3%;
}

.gallery-title {
  font-size:1.5em;
  color: #000029;
  opacity:0.8;
  text-align:left;
  padding-left:0px;
}

.see-more {
  font-size:1.5em;
  font-style:italic;
  color: #000029;
  opacity:0.8;
  text-align:right;
  padding-right:0px;
}

.see-more a {
  color: #000029;
  opacity:0.8;
}

@media screen and (max-width: 767px) {
  .gallery-title {
    text-align:center;
    padding-right:0px;
  }
  .see-more {
    text-align:center;
    padding-left:0px;
  }
  
  .sub-gallery, .sub-gallery .col-xs-12, .sub-gallery .col-xs-12.stacked-column img {
    margin-top:2%;
  }
}

.more {
  font-size:1.5em;
  font-weight:700;
  text-align:center;
  margin-top:3%;
}

.more a {
  color: #000029;
  opacity:0.8;
}

/*sub-gallery styles*/

.sub-gallery {
  margin-top:6%;
}

.large-sub {
  padding:0px;
}

.stacked-column {
  display:block;
  padding:0px;
}

/*general*/

img:hover {
  opacity:0.6;
  transition: opacity 0.5s;
}
