/*masthead styles*/

.masthead {
  margin-top:3%;
  background-color: #000060;
  height: 180px;
}

/*featured gallery styles*/

.featured {
  height:auto;
  margin-top: 4%;
}

.featured-gallery {
  height:auto;
}

/*sub-gallery styles*/

.sub-gallery {
  margin-top:6%;
}

.large-sub {
  padding:0px;
}

.stacked-column {
  display:block;
  padding:0px;
}

/*general*/

img:hover {
  opacity:0.6;
  transition: opacity 0.5s;
}
